*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home Section */
.home {
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
    background-image: url("images/home_section/pc_background_image.png");
    background-position: 100%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: 65%;
    padding: 0 2%;
}

/* Music Band Image */
.music-band {
    position: absolute;
    top: 17%;
    right: 12%;
    width: 100%;
    height: 80%;
    background-image: url("images/home_section/music_band.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 45%;
}

/* Header Section */
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
header nav .logo {
    width: 100px;
}
header nav .navigation li {
    display: inline; 
    list-style: none;
    margin-left: 35px;
}   
header nav .navigation li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
header nav .navigation li a .contactUs {
    padding: 8px 20px;
    border-radius: 40px;
    border-color: #fff;
}

/* Home Page Content Section */
.home .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 120px;
}
.home .content .textBox {
    position: relative;
    max-width: 600px;
    top: 15px;
    left: 60px;
}
.home .content .textBox h3 {
    color: #292929;
    font-size: 60px;
    font-weight: 10;
}
.home .content .textBox h2 {
    color: black;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 15px;
}
.home .content .textBox p {
    font-size: 20px;
    color: #7A7A7A;
}

/* Piano Lessons Section */
.piano-lessons-section {
    min-height: 90vh;
    width: 100%;
    background-color: rgba(180, 180, 180, 0.15);
}

/* Piano Lessons Section Content Section */
.piano-lessons-section .content {
    padding-top: 20px;
    text-align: center;
    position: relative;
}
.piano-lessons-section .content h2 {
    font-size: 50px;
    font-weight: 800;
}
.piano-lessons-section .content p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 10;
}

/* Piano Lessons Section Image Slider */
.piano-lessons-section .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.piano-lessons-section .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 430px;
    border-radius: 10px;
}
.piano-lessons-section .swiper-slide img {
    display: block;
    width: 100%;
}

/* Maestra Section*/
.maestra-section {
    width: 100%;
    min-height: 100vh;
    background-image: 
        url("images/maestra_section/guitar_play_with_dog.png"), 
        url("images/maestra_section/guitar_play_on_cup.png");
    background-repeat: no-repeat;
    background-size: 
        36%,
        38%;
    background-position-x: 
        left, 
        right;
    background-position-y: 
        center, 
        bottom;
    margin-bottom: 60px;
}

/* Maestra Section Content Section */
.maestra-section .content {
    padding-top: 20px;
    text-align: center;
    position: relative;
}
.maestra-section .content h2 {
    font-size: 50px;
    font-weight: 800;
}
.maestra-section .content p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 10;
}

/* Maestra Section Teacher Card */
.maestra-section .teacher-card {
    width: 400px;
    height: 520px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    padding: 50px 25px;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.maestra-section .teacher-card .teacher-img {
    width: 160px;
}
.maestra-section .teacher-card h4 {
    font-size: 25px;
    font-weight: 100;
    margin-top: 15px;
}
.maestra-section .teacher-card h2 {
    font-size: 30px;
    font-weight: 600;
}
.maestra-section .teacher-card p{
    font-size: 21px;
    font-weight: 500;
    font-style: italic;
    padding-top: 25px;
}


/* Lessons Section*/
.lessons-section {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(180, 180, 180, 0.15);
    background-image: url("images/lessons_section/saxophone_play_on_trunk.png");
    background-repeat: no-repeat;
    background-size: 31%;
    background-position-y: 100%;
}

/* Lessons Section Content Section */
.lessons-section .content {
    text-align: center;
    position: relative;
    padding-top: 20px;
}
.lessons-section .content h2 {
    font-size: 50px;
    font-weight: 800;
}
.lessons-section .content p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 10;
}

/* Lessons Section Courses Section */
.course-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.course-box li {
    list-style: none;
    margin-left: 20px;
}
.course-box .course {
    width: 310px;
    height: 425px;
    background: rgba(255, 255, 255);
    border: 1px solid rgb(112, 112, 112);
    padding: 30px 25px 0 15px;
    border-radius: 15px;
    margin-top: 55px;
    margin-left: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.course-box .course .header-section {
    display: inline-flex; 
}
.course-box .course .header-section img {
    width: 65px;
    height: 65px;
    margin-top: auto;
    margin-bottom: auto;
}
.course-box .course .header-section .course-name{
    font-size: 40px;
    font-weight: 600;
}
.course-box .course .header-section .coures-details {
    font-size: 15px;
}
.course-box .course .horizontal_line{
    margin: auto;
    width: 90%;
    height: 1px;
    background: black;
    margin-top: 30px;
    margin-bottom: 30px;
}
.course-box .course .course-details .space-box {
    margin-top: 30px;
}
.course-box .course .course-details .course-description {
    font-size: 15px;
    font-weight: 800;
}
.course-box .course .btn{
    margin-top: 35px;
    margin-left: 5%;
    height: 55px;
    width: 250px;
    border-radius: 15px;
    border: none;
    background-image: linear-gradient(180deg, #3B28E5, #26E1FF);
    outline: none;
    font-size: 13px;
    font-weight: 600;
}

/* Lessons Section Piano Courses Section */
.course-box .piano-course {
    width: 340px;
    height: 460px;
    background-image: linear-gradient(180deg, #3B28E5, #26E1FF);
}
.course-box .piano-course .header-section img {
    width: 75px;
    height: 75px;
}
.course-box .piano-course .header-section .course-name{
    font-size: 50px;
    font-weight: 600;
    color: #FFFFFF;
}
.course-box .piano-course .header-section .coures-details {
    font-size: 17px;
    color: #FFFFFF;
}
.course-box .course .horizontal_line{
    height: 0.1px;
}
.course-box .piano-course .course-details .course-description {
    font-size: 17px;
    font-weight: 800;
    color: #FFFFFF;
}
.course-box .piano-course  .btn{
    height: 60px;
    width: 270px;
    border-radius: 15px;
    background-image: linear-gradient(#F4864D, #F4864D);
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
}

/* Spotlight Section*/
.spotlight-section {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/spotlight_section/cloud_img.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.spotlight-section .content {
    text-align: center;
    position: relative;
    padding-top: 20px;
}
.spotlight-section .content h2 {
    font-size: 50px;
    font-weight: 800;
}
.spotlight-section .content p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 10;
}

/* Spotlight Section Video Section*/
.spotlight-section .videos-section {
    height: 800px;
    width: 100%;
    background-image: 
        url(images/spotlight_section/women_sing_on_trunk.png),
        url(images/spotlight_section/guitar_play_on_trunk.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-x: 
        left,
        right;
    background-position-y: bottom;    
    margin-top: 55px;
}

.spotlight-section .videos-section .main-video video {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.spotlight-section .videos-section .videos {
    text-align: center;
}
.spotlight-section .videos-section .videos video {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 30px;
    width: 275px;
    border-radius: 15px;
}
.spotlight-section .videos-section .videos video:hover, 
.spotlight-section .videos-section .videos .active {    
    transform: scale(1.06);
    border: 2px solid greenyellow;
}

/* Testimonal Section */
.testimonial-section {
    min-height: 10vh;
    width: 100%;
    margin-top: 40px;
    background-image: 
        url(images/testimonial_section/background_image/top-left-cloud.png),
        url(images/testimonial_section/background_image/top-right-cloud.png),
        url(images/testimonial_section/background_image/bottom-left-cloud.png),
        url(images/testimonial_section/background_image/bottom-right-cloud.png);
    background-repeat: no-repeat;
    background-position-x: 
        left,
        right,
        left,
        right;
    background-position-y: 
        top,
        top,
        bottom,
        bottom;   
    background-size: 
        25%,
        30%,
        25%,
        25%;     
}
.testimonial-section .content {
    text-align: center;
    position: relative;
    padding-top: 20px;
}
.testimonial-section .content h2 {
    font-size: 50px;
    font-weight: 800;
}
.testimonial-section .content p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 10;
}

/* Testimonal Section Testimonals Slider */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
.testimonial-section .testimonal-box .swiper-slide {
    display: block;
    background-position: center;
    background-size: cover;  
}

/* Testimonal Section Testimonals Box */
.testimonial-section .testimonal-box .contentBox {
    width: 600px;
    height: 300px;
    background: rgba(255, 255, 255);
    border: 1px solid rgb(112, 112, 112);
    border-radius: 15px;
    padding: 25px;
}
.testimonial-section .testimonal-box .contentBox .content {
    margin-bottom: 20px;
}
.testimonial-section .testimonal-box .contentBox .author-details {
    display: flex;
}
.testimonial-section .testimonal-box .contentBox .author-details .author_img img {
    width: 80px;
    margin-right: 20px;
}
.testimonial-section .testimonal-box .contentBox .author-details .author-name {
    margin-top: auto;
    margin-bottom: auto;
}


/* Footer Section */
.footer-section {
    min-height: 10vh;
    width: 100%;
    background-image: url(images/footer_section/footer_background_image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
}
.footer-section .guitarist-img {
    min-height: 100vh;
    width: 50%;
    background-image: url(images/footer_section/guitarist-image.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 40%;
}
.footer-section .footer-link {
    height: 200px;
    margin-top: 25%;
}
.footer-section .footer-link .row {
    display: flex;
    flex-wrap: wrap;
}
.footer-section .footer-link .row .footer-col {
    width: 25%;
    padding: 0 140px;
}
.footer-section .footer-link .row .footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.footer-section .footer-link .row .footer-col ul {
    list-style: none;
}
.footer-section .footer-link .row .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-section .footer-link .row .footer-col ul li a {
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    color: #7A7A7A;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}
.footer-section .footer-link .row .footer-col ul li a:hover {
    color: #000;
    padding-left: 10px;
}
