/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
    
    /* Home Section */
    .home {
        min-height: 92vh;
        background-image: url("images/home_section/mobile_background_image.png");
        background-size: 70%;
    }

    /* Music Band Image */
    .music-band {
        top: 30%;
        background-image: url("images/home_section/music_band.png");
        background-position: 50%;
        background-size: 85%;
    }

    /* Header Section */
    header nav .logo {
        width: 80px;
    }

    /* Home Page Content Section */
    .home .content {
        width: 100%;
        top: 40px;
    }
    .home .content .textBox {
        top: 10px;
        left: 20px;
    }
    .home .content .textBox h3 {
        font-size: 57px;
    }
    .home .content .textBox h2 {
        font-size: 60px;
    }
    .home .content .textBox p {
        font-size: 17px;
    }

    /* Piano Lessons Section */
    .piano-lessons-section {
        min-height: 75vh;
        width: 100%;
        background-color: rgba(180, 180, 180, 0.15);
    }
    /* Piano Lessons Section Content Section */
    .piano-lessons-section .content {
        padding: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .piano-lessons-section .content p {
        margin-top: 15px;
        font-size: 16px;
    }
    /* Piano Lessons Section Image Slider */
    .piano-lessons-section .swiper {
        padding-top: 10px;
    }

    /* Maestra Section*/
    .maestra-section {
        min-height: 75vh;
        background-repeat: no-repeat;
        background-size: 
            65%,
            55%;
        background-position-y: 
            150px, 
            450px;
    }
    /* Maestra Section Content Section */
     .maestra-section .content {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .maestra-section .content p {
        margin-top: 15px;
        font-size: 16px;
    }
    /* Maestra Section Teacher Card */
    .maestra-section .teacher-card {
        width: 360px;
    }

    /* Lessons Section*/
    .lessons-section {
        background-image: none;
    }
    /* Lessons Section Content Section */
    .lessons-section .content {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .lessons-section .content p {
        margin-top: 15px;
        font-size: 16px;
        font-weight: 10;
    }

    /* Lessons Section Courses Section */
    .course-box .course {
        margin-left: 0;
    }

    /* Spotlight Section*/
    .spotlight-section .content {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .spotlight-section .content p {
        margin-top: 15px;
        font-size: 16px;
    }

    /* Spotlight Section Main Video */
    .spotlight-section .videos-section .main-video video {
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
    }

    /* Testimonal Section Content Section */
    .testimonial-section .content {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .testimonial-section .content p {
        margin-top: 15px;
        font-size: 16px;
        font-weight: 10;
    }

    /* Testimonal Section Testimonals Box */
    .testimonial-section .testimonal-box .contentBox {
        width: 300px;
        height: 300px;
        background: rgba(255, 255, 255);
        border: 1px solid rgb(112, 112, 112);
        border-radius: 15px;
        padding-top: 5px;
    }  

    /* Footer Section */
    .footer-section {
        min-height: 100vh;
        max-width: 100%;
        padding-top: 300px;
        background-image: url(images/footer_section/mobile_footer_background_image.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        display: flex;
    }
    .footer-section .guitarist-img {
        background-image: url(images/footer_section/guitarist-image.png);
        background-size: 175px;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 5%;
    }
    .footer-section .footer-link {
        width: 240px;
        height: 200px;
        margin-top: 70px;
    }
    .footer-section .footer-link .row .footer-col h4 {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .footer-section .footer-link .row .footer-col ul li:not(:last-child) {
        margin-bottom: 20px;
    }
}